<?xml version="1.0" encoding="UTF-8"?>
<settings>
   <domains>
    <!--  <domain name="wls"
	          url="service:jmx:iiop://127.0.0.1:7001/jndi/weblogic.management.mbeanservers.runtime"
              protocolPackages="weblogic.management.remote"
	          username="weblogic"
	          password="weblogic"/> -->

   </domains>
</settings>
